@use "../abstracts/colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", serif;
}

.light {
  .background {
    background-color: $navy-blue;
  }
  .text {
    color: $baby-blue;
  }
} // Theme style

.dark {
  .background {
    background-color: $dark-800;
  }
  .text {
    color: $white;
  }
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  .content-width {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100vh;
    padding: 0 50px;
  }
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  @extend %flex;
}

.flex-between {
  @extend %flex;
  justify-content: space-between;
}

.icon {
  color: $white;
  transform: scale(2.4);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .icon {
    transform: scale(2.2);
    &:hover {
      transform: scale(1.8);
    }
  }
}
