@use "../abstracts/colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Exo 2", serif;
  user-select: none; // Prevents text selection
}
ul {
  @extend %flex;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img.banner-img {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 5.5em;
  text-transform: capitalize;
}
h2 {
  font-size: 5em;
  text-transform: capitalize;
}
h4 {
  font-size: 1.3em;
  text-transform: capitalize;
}
p {
  font-size: 1.5em;
}
p.paragraph {
  font-size: 1.2em;
}
button {
  padding: 18px 60px;
  font-size: 1.3em;
  font-family: "Exo 2", serif;
  border-radius: 50px;
  border: 1px solid $secondary;
  background-color: transparent;
  color: $white;
  margin-top: 40px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $secondary;
  }
}

// Theme style
.light {
  .background {
    background-color: $navy-blue;
  }
  .title {
    color: $secondary;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
  }
  .text {
    color: $baby-blue;
  }
}
.dark {
  .background {
    background-color: $dark-700;
  }
  .title {
    color: $white;
  }
  .text {
    color: $white;
  }
}

// Container
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .content-width {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    padding: 120px 50px;
    .left-container {
      width: 50%;
      opacity: 0;
      animation: fadeLeftIn 0.8s ease-in-out 0.2s forwards;
      p {
        font-size: 1.8em;
      }
    }
    .right-container {
      width: 50%;
      opacity: 0;
      animation: fadeIn 0.8s ease-in-out 0.2s forwards;
    }
    .content {
      @extend %flex;
      justify-content: space-between !important;
      flex-wrap: wrap;
    }
  }
  .flex-center {
    @extend %flex;
  }
}

// Display
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
%fade-left-animation {
  opacity: 0;
  animation: fadeLeftIn 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.flex-column {
  flex-direction: column;
}
.flex-start {
  @extend %flex;
  align-items: start;
}
.flex-between {
  @extend %flex;
  justify-content: space-between;
}
.icon {
  color: $white;
  transform: scale(2.4);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeLeftIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .container {
    .content-width {
      .content {
        justify-content: center !important;
        flex-wrap: wrap;
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 4em;
  }
  button {
    margin-top: 20px;
  }
  img.banner-img {
    transform: scale(1.4);
  }
  .container {
    .content-width {
      justify-content: space-center !important;
      .left-container {
        p {
          font-size: 1.6em;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  h1 {
    font-size: 4em;
    text-align: center;
  }
  h2 {
    font-size: 3.7em;
    text-align: center;
  }
  p {
    font-size: 1.4em;
    text-align: center;
  }
  button {
    margin-top: 20px;
  }
  img.banner-img {
    width: 80%;
  }
  .container {
    .content-width {
      padding: 100px 50px;
      .left-container {
        width: 100%;
        align-items: center;
        p {
          font-size: 1.6em;
          text-align: center;
        }
      }
      .right-container {
        width: 100%;
        align-items: center;
        h2 {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  h1 {
    font-size: 3.2em;
    text-align: center;
  }
  h2 {
    font-size: 3em;
    text-align: center;
  }
  h3 {
    font-size: 1.9em;
  }
  p {
    font-size: 1.2em;
    text-align: center;
  }
  p.paragraph {
    font-size: 1.1em !important;
  }
  button {
    margin-top: 20px;
    padding: 15px 50px;
    font-size: 1.1em;
  }
  img.banner-img {
    width: 100%;
  }
  .container {
    .content-width {
      .left-container {
        width: 100%;
        align-items: center;
        p {
          font-size: 1.3em;
          text-align: center;
        }
      }
      .right-container {
        width: 100%;
        align-items: center;
      }
    }
  }
  .icon {
    transform: scale(2.2);
    &:hover {
      transform: scale(1.8);
    }
  }
}
