$white: #f8f9fa;

$navy-blue: #05445e;

$blue-grotto: #189ab4;

$blue-green: #75e6da;

$baby-blue: #d4f1f4;

$dark-600: #495057;
$dark-700: #343a40;
$dark-800: #060606;

$primary: $navy-blue;
$secondary: $blue-grotto;
