@use "../styles/base/reset" as *;
@use "./abstracts/colors" as *;

.banner-container {
  gap: 100px !important;

  .right-container {
    padding: 80px;
    background-color: rgba($secondary, 0.6);
    border-radius: 10px;
    border-left: 6px solid $secondary;

    h4 {
      font-size: 1.6em;
    }

    ul {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      row-gap: 50px;

      li {
        transition: 0.3s ease-in-out;
        a {
          font-size: 1.3em;
          color: $white;
          font-weight: 300;
          display: flex;
          .icons {
            color: $white;
            transform: scale(1.6);
            margin-right: 30px;
          }
        }

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .banner-container {
    flex-wrap: wrap;

    .right-container {
      width: 100% !important;
    }

    .left-container {
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .banner-container {
    flex-direction: column;
    gap: 100px !important;
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .banner-container {
    flex-direction: column;
    gap: 50px !important;

    .right-container {
      padding: 30px;

      h4 {
        font-size: 1.2em;
      }

      ul {
        margin-top: 30px;
        gap: 30px;
        li {
          a {
            font-size: 1.1em;
            .icons {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
