@use "../styles/base/reset" as *;
@use "./abstracts/colors" as *;

// Grid View
.grid-view {
  .title-container {
    margin-bottom: 50px;

    .view-container {
      .icon {
        color: $white;
        margin-right: 40px;
      }
    }
  }

  .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    row-gap: 60px;

    .card-container {
      width: 31%;

      .seminar-card-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;

        &:hover {
          .image-box {
            img {
              width: 95%;
            }
          }

          .content-box {
            p {
              font-size: 1em;
            }
            h5 {
              font-size: 1.1em;
            }
            p,
            h5 {
              opacity: 1;
              max-height: 100%;
              transition: opacity 0.5s ease, max-height 0.5s ease;
            }
          }
        }

        .image-box {
          img {
            width: 100%;
            transition: 0.5s ease;
          }
        }

        .content-box {
          display: flex;
          flex-direction: column;
          gap: 20px;

          p {
            font-size: 1.1em;
          }
          h5 {
            font-size: 1.2em;
          }
          p,
          h5 {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 1s ease, max-height 1s ease;
          }
        }
      }
    }
  }
}

// List View
.list-view {
  .title-container {
    margin-bottom: 50px;

    .view-container {
      .icon {
        color: $white;
        margin-right: 40px;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 60px;

    .card-container {
      &:nth-child(even) {
        .seminar-card-container {
          flex-direction: row-reverse;
        }
      }
      .seminar-card-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 70px;

        .image-box {
          img {
            width: 25em;
          }
        }

        .content-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;

          h4 {
            font-size: 2em;
          }

          p {
            font-size: 1.3em;
          }

          h5 {
            margin-top: 30px;
            font-size: 1.4em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .list-view {
    .content-container {
      .card-container {
        .seminar-card-container {
          .content-box {
            h4 {
              font-size: 1.6em;
            }
            p {
              font-size: 1.1em;
            }
            h5 {
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .grid-view {
    .content-container {
      .card-container {
        width: 45%;
        .seminar-card-container {
          .content-box {
            h4 {
              font-size: 1.1em;
            }
            p {
              font-size: 1.2em;
              text-align: left;
            }
            h5 {
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }

  .list-view {
    .content-container {
      .card-container {
        .seminar-card-container {
          .image-box {
            img {
              width: 18em;
            }
          }
          .content-box {
            gap: 10px;
            h4 {
              font-size: 1.3em;
            }
            p {
              font-size: 1em;
              text-align: left;
            }
            h5 {
              margin-top: 20px;
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  // Grid View
  .grid-view {
    .title-container {
      margin-bottom: 50px;

      .view-container {
        .icon {
          margin-right: 0px;
          transform: scale(1.8);
        }
      }
    }

    .content-container {
      .card-container {
        width: 100%;

        .seminar-card-container {
          &:hover {
            .image-box {
              img {
                width: 95%;
              }
            }

            .content-box {
              p {
                font-size: 1em;
              }
              h5 {
                font-size: 1.1em;
              }
              p,
              h5 {
                opacity: 1;
                max-height: 100%;
                transition: opacity 0.5s ease, max-height 0.5s ease;
              }
            }
          }

          .image-box {
            img {
              width: 100%;
              transition: 0.5s ease;
            }
          }

          .content-box {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
              font-size: 1.2em;
            }
            p {
              font-size: 1.1em;
              text-align: left;
            }
            h5 {
              font-size: 1.2em;
            }
            p,
            h5 {
              opacity: 0;
              max-height: 0;
              overflow: hidden;
              transition: opacity 1s ease, max-height 1s ease;
            }
          }
        }
      }
    }
  }

  .list-view {
    .title-container {
      margin-bottom: 50px;

      .view-container {
        .icon {
          margin-right: 0px;
          transform: scale(1.8);
        }
      }
    }
    .content-container {
      .card-container {
        .seminar-card-container {
          gap: 10px;
          .image-box {
            display: none;
            img {
              width: 10em;
            }
          }
          .content-box {
            gap: 20px;
            h4 {
              font-size: 1.3em;
            }
            p {
              font-size: 1em;
              text-align: left;
            }
            h5 {
              margin-top: 20px;
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}
